.abmCont {
    margin-left: 30%;
    margin-right: 30%;
    text-align: justify;
}

.imgDiv {
    margin: auto;
    padding: 20px;
    width: 25%;
}

.quote {
    padding-top: 10px;
    padding-bottom: 1px;
    background-color: #9f9f00;
    border-radius: 9px;
}

.quoteCont {
    margin-left: 50px;
}

.quoteRef {
    text-align: right;
    margin-right: 20px;
}